.mw-twocolconflict-show-help-container {
	margin-left: auto;
	margin-bottom: auto;
	text-align: right;
}

.mw-twocolconflict-show-help {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 0;
}

.oo-ui-windowManager-modal.oo-ui-windowManager-floating > .oo-ui-dialog.mw-twocolconflict-help-dialog > .oo-ui-window-frame {
	top: 30%;
	bottom: auto;
}

.mw-twocolconflict-help-dialog-image-landscape {
	height: 160px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.mw-twocolconflict-help-dialog-image-portrait {
	height: 180px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.mw-twocolconflict-column-image {
	width: 50%;
	float: left;
}

.mw-twocolconflict-column-text {
	width: 50%;
	float: right;
}

.mw-twocolconflict-help-dialog-text {
	font-size: 14px;
	line-height: 1.5;
}
