.mw-twocolconflict-explainconflict {
	border: 1px solid #a7a7a7;
	padding: 0 0.5em;
	margin-bottom: 1em;
}

.mw-twocolconflict-changes-col, .mw-twocolconflict-editor-col {
	display: table-cell;
	width: 50%;
	padding: 0 0.5em;
}

.mw-twocolconflict-col-desc {
	font-size: 0.9em;
 }

.editOptions {
	border-top: 1px solid #c0c0c0;
	margin-top: 1em;
}

#mw-twocolconflict-changes-editor {
	margin-top: 24px; /* height of the toolbar in the editor textbox */
	white-space: pre-wrap;
	word-wrap: break-word;
	flex-direction: column;
	resize: vertical;
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	-webkit-user-select: text;
	border: 1px solid #c0c0c0;
	box-sizing: border-box;
	font: medium -moz-fixed;
	font: -webkit-small-control;
	font-family: monospace;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	text-align: start;
	overflow: auto;
	padding: 0.1em;
	width: 100%;
	height: 400px;
	background-color: #f2f2f2;
}

#mw-twocolconflict-changes-editor.mw-twocolconflict-wikieditor {
	margin-top: 34px;
	line-height: 1.5em;
}

.mw-twocolconflict-editor-col #wpTextbox1 {
	height: 400px;
}
