.mw-twocolconflict-page form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-ms-flex-direction: row;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	-ms-flex-wrap: wrap;
	flex-flow: row wrap;
}

.mw-twocolconflict-changes-col,
.mw-twocolconflict-editor-col {
	-webkit-flex: 1 auto;
	-moz-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;
	width: 300px;
	box-sizing: border-box;
}

/* address some IE issues with grid */
/* stylelint-disable-next-line no-duplicate-selectors */
.mw-twocolconflict-changes-col,
.mw-twocolconflict-editor-col {
	width: 50% \0/ie;
	float: left \0/ie;
}

.mw-twocolconflict-changes-col {
	padding-right: 0.5em;
}

.mw-twocolconflict-editor-col {
	padding-left: 0.5em;
}

.mw-twocolconflict-col-desc {
	font-size: 0.9em;
	margin-bottom: 10px;
}

.mw-twocolconflict-col-desc ol {
	list-style: none;
	margin: 0;
}

.mw-twocolconflict-edit-desc {
	min-height: 90px;
}

.mw-twocolconflict-base-selection-desc {
	display: none;
}

.client-js .mw-twocolconflict-base-selection-desc {
	display: block;
}

.client-js .mw-twocolconflict-edit-desc {
	display: none;
}

.mw-twocolconflict-edit-summary {
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-page .editOptions {
	border-top: 1px solid #c0c0c0;
	margin-top: 1em;
	width: 100%;
}

.mw-twocolconflict-changes-editor,
.mw-twocolconflict-hidden-editor {
	overflow-wrap: break-word;
	flex-direction: column;
	resize: vertical;
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	-webkit-user-select: text;
	border: 1px solid #c0c0c0;
	box-sizing: border-box;
	font: medium '-moz-fixed';
	font: '-webkit-small-control';
	font-size: medium;
	font-family: monospace;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	text-align: start;
	overflow: auto;
	height: 402px;
	width: 100%;
	background-color: #f2f2f2;
}

/* see T156483 */
.mw-twocolconflict-changes-editor div {
	cursor: text;
}

.mw-twocolconflict-hidden-editor {
	padding: 0 0.3em 0 0.8em;
	position: absolute;
	top: -10000px;
}

.mw-twocolconflict-changes-editor.mw-twocolconflict-wikieditor,
.mw-twocolconflict-hidden-editor.mw-twocolconflict-wikieditor {
	line-height: 1.5em;
}

/* stylelint-disable-next-line selector-max-id */
.mw-twocolconflict-editor-col #wpTextbox1 {
	height: 400px;
	padding: 0 0.3em 0 0.8em;
}

.mw-twocolconflict-lastuser,
del.mw-twocolconflict-diffchange {
	background-color: #add8e6;
}

.mw-twocolconflict-user,
ins.mw-twocolconflict-diffchange {
	background-color: #ffec60;
}

ins.mw-twocolconflict-diffchange,
del.mw-twocolconflict-diffchange {
	text-decoration: none;
}

.mw-twocolconflict-diffchange-foreign,
.mw-twocolconflict-diffchange-own {
	margin: 0 0 0.3em 0.3em;
	padding: 0 0.3em 0 0.3em;
	border-left-width: 2px;
	border-left-style: solid;
}

.mw-twocolconflict-diffchange-foreign {
	border-left-color: #3879ec;
}

.mw-twocolconflict-diffchange-own {
	border-left-color: #ff8c00;
}

.mw-twocolconflict-expand-collapse-btn.oo-ui-inputWidget {
	float: right;
	margin: 0.3em 0 0 0;
}

.mw-twocolconflict-expand-collapse-btn.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button {
	background-color: transparent;
	border: solid 1px #a0a0a0;
	min-height: 2em;
}

.mw-twocolconflict-diffchange-same {
	background-color: #e2e2e2;
	margin: 1em 0 1em 0;
}

.mw-twocolconflict-diffchange-same div {
	padding: 0 0.3em 0 0.8em;
	min-height: 35px;
}

.mw-twocolconflict-diffchange-same-collapsed {
	display: none;
	padding-bottom: 1em;
	margin-bottom: 0;
}

.mw-twocolconflict-changes-editor .mw-twocolconflict-diffchange-same:first-child {
	margin: 0 0 1em 0;
}

.mw-twocolconflict-changes-editor .mw-twocolconflict-diffchange-same:last-child {
	margin: 1em 0 1em 0;
}

.mw-twocolconflict-diffchange-own .mw-twocolconflict-diffchange-title,
.mw-twocolconflict-diffchange-foreign .mw-twocolconflict-diffchange-title {
	color: #fff;
	padding: 1px 2px;
	margin: 0 0 4px -4px;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 0.7em;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[ mw-twocolconflict-diffchange-title-pseudo ]:before {
	content: attr( mw-twocolconflict-diffchange-title-pseudo );
}

.mw-twocolconflict-diffchange-own .mw-twocolconflict-diffchange-title {
	background-color: #ff8c00;
}

.mw-twocolconflict-diffchange-foreign .mw-twocolconflict-diffchange-title {
	background-color: #3879ec;
}

.mw-twocolconflict-diffchange-fadeout-end,
.mw-twocolconflict-diffchange-fadeout-start {
	position: relative;
	overflow: hidden;
	background-color: #e2e2e2;
}

.mw-twocolconflict-diffchange-fadeout-start {
	margin-left: 2em;
}

.mw-twocolconflict-diffchange-fadeout-end {
	margin-right: 2em;
}

.mw-twocolconflict-diffchange-fadeout-end:after,
.mw-twocolconflict-diffchange-fadeout-start:before {
	content: '';
	pointer-events: none;
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
}

.mw-twocolconflict-diffchange-fadeout-end:after {
	right: 0;
	background-image: -webkit-linear-gradient( right, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: -moz-linear-gradient( right, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: -ms-linear-gradient( right, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: -o-linear-gradient( right, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: linear-gradient( to left, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
}

.mw-twocolconflict-diffchange-fadeout-start:before {
	left: 0;
	background-image: -webkit-linear-gradient( left, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: -moz-linear-gradient( left, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: -ms-linear-gradient( left, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: -o-linear-gradient( left, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
	background-image: linear-gradient( to right, rgba( 226, 226, 226, 1 ), rgba( 226, 226, 226, 0 ) );
}

.mw-twocolconflict-filter-options-container {
	margin-bottom: 10px;
	display: none;
}

.client-js .mw-twocolconflict-filter-options-container {
	display: block;
}

.mw-twocolconflict-filter-options-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.mw-twocolconflict-filter-titles {
	font-weight: bold;
}

.mw-twocolconflict-filter-options-btn .oo-ui-fieldLayout {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.mw-twocolconflict-filter-options-btn.oo-ui-radioSelectInputWidget .oo-ui-fieldLayout .oo-ui-fieldLayout-body {
	padding: 0 0.25em;
}
