/* stylelint-disable-next-line selector-max-id */
#wpTextbox1:not( .mw-twocolconflict-after-base-selection ) {
	-webkit-filter: blur( 5px );
	-moz-filter: blur( 5px );
	-o-filter: blur( 5px );
	-ms-filter: blur( 5px );
	filter: blur( 5px );
}

.mw-twocolconflict-base-dialog fieldset {
	width: 100%;
}

.mw-twocolconflict-base-dialog-radio label:nth-of-type( 1 ) .oo-ui-labelElement-label {
	background-color: #add8e6;
}

.mw-twocolconflict-base-dialog-radio label:nth-of-type( 2 ) .oo-ui-labelElement-label {
	background-color: #ffec60;
}

.mw-twocolconflict-base-dialog-radio .oo-ui-radioOptionWidget.oo-ui-labelElement .oo-ui-labelElement-label {
	display: inline-block;
	padding-right: 0.46875em;
	margin-left: 0.46875em;
}

.mw-twocolconflict-base-dialog .oo-ui-buttonWidget {
	position: absolute;
	bottom: 0;
	right: 0;
}

.mw-twocolconflict-base-dialog {
	position: absolute;
	height: 450px;
	width: 50%;
	z-index: 100;
}

/*
There are no default styles set for the non-modal dialogs so this is set manually.
Mostly taken from /resources/lib/oojs-ui/oojs-ui-windows-mediawiki.css
See also T163885
*/
.mw-twocolconflict-base-dialog > .oo-ui-window-frame {
	margin: 100px auto;
	background-color: #fff;
	opacity: 0;
	-webkit-transform: scale( 0.5 );
	-moz-transform: scale( 0.5 );
	-ms-transform: scale( 0.5 );
	transform: scale( 0.5 );
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	transition: all 250ms;
	max-height: 100%;
	max-height: calc( 100% - 2em );
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.25 );
	/* T166232 */
	width: initial !important;  /* stylelint-disable-line declaration-no-important */
}
.oo-ui-windowManager > .oo-ui-dialog.oo-ui-window-setup {
	opacity: 1;
}
.oo-ui-windowManager > .oo-ui-dialog.oo-ui-window-ready > .oo-ui-window-frame {
	opacity: 1;
	-webkit-transform: scale( 1 );
	-moz-transform: scale( 1 );
	-ms-transform: scale( 1 );
	transform: scale( 1 );
}
