.mw-twocolconflict-split-tour-image-landscape {
	height: 180px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-intro-container {
	text-align: center;
}

.mw-twocolconflict-split-tour-intro-container h5 {
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-intro-container p {
	text-align: left;
	line-height: 1.5;
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-diffchange,
.mw-twocolconflict-split-your-version-header,
.mw-twocolconflict-split-selection {
	position: relative;
}

.mw-twocolconflict-split-tour-still-button,
.mw-twocolconflict-split-tour-pulsating-button {
	position: absolute;
	z-index: 1;
	background-color: #36c;
	border-radius: 50%;
	left: 50%;
	transform: translate( -50%, 0 );
}

.mw-twocolconflict-split-tour-still-button {
	height: 0.8em;
	width: 0.8em;
}

.mw-twocolconflict-split-tour-pulsating-button {
	height: 2.5em;
	width: 2.5em;
	opacity: 0;
	bottom: 50%;
	left: 50%;
	margin-bottom: -1.25em;
	margin-left: -1.25em;
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale( 0 );
		opacity: 0;
	}
	25% {
		transform: scale( 0 );
		opacity: 0.1;
	}
	50% {
		transform: scale( 0.1 );
		opacity: 0.3;
	}
	75% {
		transform: scale( 0.5 );
		opacity: 0.5;
	}
	100% {
		transform: scale( 1 );
		opacity: 0;
	}
}

.mw-twocolconflict-split-tour-popup {
	text-align: center;
	z-index: 2;
	color: #000;
}

.mw-twocolconflict-split-tour-popup h5 {
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-popup p {
	text-align: left;
	line-height: 1.5;
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-help-button {
	font-size: 1.5em;
	position: absolute;
	right: 0;
	z-index: 1;
}
