.mw-twocolconflict-split-tour-image-landscape {
	height: 180px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-intro-container {
	text-align: center;
}

.mw-twocolconflict-split-tour-intro-container h5 {
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-intro-container p {
	text-align: left;
	line-height: 1.5;
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-diffchange,
.mw-twocolconflict-split-your-version-header,
.mw-twocolconflict-split-selection {
	position: relative;
}

.mw-twocolconflict-split-tour-pulsating-button {
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-top: 0.5em;
	// The element must have non-zero dimensions for Selenium tests to "see" it.
	width: 1px;
	height: 1px;
}

.mw-twocolconflict-split-tour-popup {
	text-align: center;
	z-index: 2;
	color: #000;
}

.mw-twocolconflict-split-tour-popup h5 {
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-popup p {
	text-align: left;
	line-height: 1.5;
	padding: 5px 0 5px 0;
}

.mw-twocolconflict-split-tour-help-button {
	font-size: 1.5em;
	position: absolute;
	right: 0;
	z-index: 1;
}
