.mw-twocolconflict-split-result {
	display: none;
}

.mw-twocolconflict-split-header {
	text-align: right;
}

.mw-twocolconflict-split-flex-header {
	display: flex;
}

.mw-twocolconflict-split-warningbox {
	display: block;
	color: #705000;
	border: 1px solid #fde29b;
	background-color: #fdf1d1;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

.mw-twocolconflict-split-current-version-header,
.mw-twocolconflict-split-your-version-header {
	flex: 1 0 50%;
	text-align: center;
	margin: 20px 0;

	span {
		padding: 0 5px;
	}
}

.mw-twocolconflict-split-current-version-header span:first-child {
	background-color: #ffe8a6;
}

.mw-twocolconflict-split-your-version-header span:first-child {
	background-color: #add8ff;
}

.mw-twocolconflict-split-view {
	display: flex;
	flex-direction: column;
}

.mw-twocolconflict-split-row {
	display: flex;
	align-items: baseline;
	margin: 10px 0;
}

.mw-twocolconflict-split-column {
	flex: 1;
	background-color: white;
	color: black;
	position: relative;
	border-radius: 8px;
	border-width: 3px 7px 3px 7px;
	border-style: solid;
	padding: 5px 40px 5px 20px;
	white-space: pre-line;
	/* Non standard for webkit */
	word-break: break-word;

	&.mw-twocolconflict-split-add {
		border-color: #add8ff;
		margin-left: 10px;
	}

	&.mw-twocolconflict-split-delete {
		border-color: #ffe8a6;
		margin-right: 10px;
	}

	&.mw-twocolconflict-split-copy {
		border-color: #e9e9e9;
		background-color: #fafafa;
	}

	ins.mw-twocolconflict-diffchange {
		background-color: #add8ff;
	}

	del.mw-twocolconflict-diffchange {
		background-color: #ffe8a6;
	}

	ins.mw-twocolconflict-diffchange,
	del.mw-twocolconflict-diffchange {
		text-decoration: none;
	}
}

#toolbar {
	display: none;
}
