/**
 * Styles which are only applied to the talk page use case.  This file is loaded conditionally,
 * so overrides here can assume we're definitely in the talk page view.
 *
 * TODO: Layout should switch to vertical on narrow screens.
 */
@labelColumnWidth: 110px;

/* Shift core edit buttons */
.editOptions {
	margin-left: @labelColumnWidth;
}

.mw-twocolconflict-single-column {
	margin-left: @labelColumnWidth;
}

.mw-twocolconflict-single-swap-button-container {
	height: 0;
	width: @labelColumnWidth;
	text-align: center;

	.mw-twocolconflict-single-swap-button {
		margin-top: -22px;
		-webkit-transform: rotate( 90deg );
		-ms-transform: rotate( 90deg );
		transform: rotate( 90deg );
	}
}

.mw-twocolconflict-order-selector {
	margin-top: 28px;
	margin-bottom: 6px;

	.oo-ui-fieldsetLayout.oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
		font-weight: normal;
		margin-bottom: 0;
	}

	.oo-ui-fieldLayout-align-inline {
		display: inline-block;
		margin-right: 20px;
	}
}

.mw-twocolconflict-conflicting-talk-row {
	.mw-twocolconflict-single-column {
		margin-left: 0;
	}

	.mw-twocolconflict-conflicting-talk-label {
		width: @labelColumnWidth;
		margin: auto auto 16px auto;
		text-align: center;

		span {
			font-weight: bold;

			.mw-twocolconflict-split-delete {
				background-color: #ffe8a6;
			}

			.mw-twocolconflict-split-add {
				background-color: #add8ff;
			}
		}
	}
}

.mw-twocolconflict-single-swap-button-container + .mw-twocolconflict-conflicting-talk-row {
	.mw-twocolconflict-conflicting-talk-label {
		margin: 16px auto auto auto;
	}
}

.client-js {
	.mw-twocolconflict-order-selector {
		display: none;
	}
}

.client-nojs {
	.mw-twocolconflict-split-copy,
	.mw-twocolconflict-order-selector {
		margin-left: @labelColumnWidth;
	}

	.mw-twocolconflict-conflicting-talk-row {
		margin: 10px 0;

		.mw-twocolconflict-conflicting-talk-label {
			max-width: @labelColumnWidth;
		}
	}

	/* stylelint-disable-next-line selector-max-id */
	#wpPreviewWidget,
	.mw-twocolconflict-single-swap-button {
		display: none;
	}
}
